<!DOCTYPE html>
<html lang="en">
<head>
  <%-include ('./partials/head.ejs') %>
</head>
<body class="dark-main">
  <%-include ('./partials/header.ejs') %>
  <div class="note">
    <div class="flex-note">
      <div class="delete">
        <h4><b class="b"><%= note.title %></b> </h4>
        <button class="btn-delete" data-id="<%= note.id %>" method="delete">
          <i class="fa-solid fa-trash-can" data-id="<%= note.id %>"></i>
        </button>
      </div>
      <p><i><%= note.text %></i></p>
    </div>
  </div>  
  <%-include ('./partials/footer.ejs') %>
</body>
</html>